@media (max-width: 1130px) {
  .header__inner {
    margin-left: 2.5%;
  }
  .main-container {
    width: 95%;
  }
  .box-product--width--31percent {
    width: 31.5%;
  }
  .newsletter__inner {
    width: 95%;
  }
  .get-in-touch__inner {
    margin: 0;
  }
  .support-card {
    width: 33.333%;
  }
  .support-card__inner {
    width: 100%;
  }
  .footer-top__inner {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-list-links--margin-right--60px {
    margin-right: 0;
  }
}
@media (max-width: 1000px) {
  .box-product__inner {
    width: 100%;
  }
  .box-product__title {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
  }
  .box-product__text {
    width: 100%;
  }
  .designing-better-experience__box-statistical-cards {
    flex-direction: column;
    width: 80%;
    margin: 50px auto 0 auto;
  }
  .statistical-card__inner {
    margin: 0 auto;
  }
  .advice__box-advice-cards {
    flex-wrap: wrap;
    width: 66%;
    margin: 45px auto 0 auto;
  }
  .advice-card {
    margin-bottom: 20px;
    align-self: flex-end;
  }
  .newsletter__title {
    margin-left: 27px;
    margin-right: 10px;
    font-size: 19px;
    line-height: 25px;
    width: 35%;
  }
  .newsletter__form {
    margin-right: 27px;
    width: 60%;
  }
  .newsletter__email-box {
    width: 100%;
  }
  .newsletter__input-email {
    width: 70%;
  }
  .newsletter__btn-submit {
    width: 30%;
  }
}
@media (max-width: 900px) {
  .footer-list-links__title {
    font-size: 14px;
    line-height: 18px;
  }
  .footer-list-links__link {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-bottom__inner {
    padding: 0;
  }
  .footer-bottom__text {
    padding: 25px 15px 25px 0;
  }
  .social-media-box {
    align-self: center;
  }
}
@media (max-width: 800px) {
  .advice__box-advice-cards {
    width: 88%;
  }
  .partners__inner {
    padding: 0;
    flex-wrap: wrap;
  }
  .get-in-touch__box-support-cards {
    flex-direction: column;
  }
  .support-card {
    width: 400px;
  }
  .contact-us__inner {
    padding: 0;
  }
  .contact-us__title {
    font-size: 20px;
    line-height: 26px;
  }
  .contact-us__btn {
    padding: 15px 10px;
    text-align: center;
    width: 120px;
    margin-left: 15px;
  }
}
@media (max-width: 750px) {
  .footer-top__inner {
    flex-direction: column;
  }
  .footer-list-links {
    align-self: center;
    width: 80%;
    text-align: center;
  }
  .footer-list-links__title {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 22px;
  }
  .footer-list-links__link {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 700px) {
  .header__title {
    padding-right: 5px;
  }
  .menu__item-link {
    margin-left: 21px;
    margin-right: 0;
  }
  .finance-consultancy__wrap-boxes-product {
    flex-direction: column;
  }
  .box-product {
    align-self: center;
  }
  .box-product--width--31percent {
    width: 90%;
  }
  .partners__inner {
    width: 360px;
    height: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 610px) {
  .newsletter__inner {
    flex-direction: column;
  }
  .newsletter__title {
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 20px;
    font-size: 19px;
    line-height: 25px;
    width: 100%;
    text-align: center;
  }
  .newsletter__form {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 15px;
  }
  .newsletter__email-box {
    width: 100%;
  }
  .newsletter__input-email {
    width: 70%;
  }
  .newsletter__btn-submit {
    width: 30%;
  }
}
@media (max-width: 570px) {
  .header {
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.7843137255);
  }
  .finance-consultancy {
    padding-top: 100px;
  }
  .finance-consultancy__title {
    font-size: 44px;
    line-height: 50px;
    width: 310px;
  }
  .finance-consultancy__text {
    width: 95%;
  }
  .title-text-box__text {
    margin: 0;
    width: 100%;
  }
  .advice__box-advice-cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .advice-card {
    align-self: center;
  }
}
@media (max-width: 500px) {
  .title-text-box__title {
    font-size: 30px;
    line-height: 43px;
  }
  .contact-us__box-text {
    width: 50%;
  }
}
@media (max-width: 430px) {
  .header__inner {
    display: block;
    margin: 0 15px;
  }
  .header__title {
    margin-top: 10px;
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .menu__item-link {
    margin: 0;
  }
  .finance-consultancy {
    padding-top: 100px;
  }
  .finance-consultancy__title {
    font-size: 30px;
    line-height: 40px;
    width: 95%;
  }
  .finance-consultancy__box-btn {
    width: 95%;
  }
  .finance-consultancy__btn-get-quote {
    width: 51%;
  }
  .finance-consultancy__btn-learn-more {
    width: 45%;
  }
  .partners__inner {
    width: 241px;
    height: 305px;
  }
  .get-in-touch__inner {
    padding-bottom: 0;
  }
  .support-card {
    width: 95%;
  }
  .footer-bottom__inner {
    flex-direction: column;
    padding: 20px 0;
  }
  .footer-bottom__text {
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 370px) {
  .designing-better-experience__box-statistical-cards {
    width: 95%;
  }
}istics-line-4 {
    width: 55px;
  }
  .container__container-questions-img-dron {
    width: 200px;
    height: auto;
  }
  .container__container-connection {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 55px;
  }
  .container__box-connection {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
  }
  .container__social-media {
    position: absolute;
    top: 495px;
    left: 705px;
  }
  .box-advantage {
    width: auto;
  }
  .box-advantage__img {
    width: auto;
    height: 100%;
  }
  .box-advantage__number {
    margin-top: 82px;
  }
  .box-advantage__box-text {
    top: 0;
  }
  .box-advantage__text {
    width: auto;
    padding-right: 30px;
  }
  .footer-form__submit {
    align-self: flex-end;
  }
  .box-questin-form--add-margin {
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .container__container {
    padding-top: 100px;
    margin: 0 0px;
  }
  .container__text-about-drone {
    top: 0;
    width: auto;
    padding-right: 30px;
  }
  .container__slider {
    width: 75%;
    left: -60px;
    right: 0;
    margin: auto;
  }
  .container__slider-img {
    width: 400px;
    bottom: 0px;
  }
  .container__box-characteristics-img-dron {
    top: 0;
    bottom: 0;
    margin: auto auto;
    width: 75%;
    height: auto;
  }
  .container__box-characteristics-line-1 {
    display: none;
  }
  .container__box-characteristics-line-2 {
    display: none;
  }
  .container__box-characteristics-line-3 {
    display: none;
  }
  .container__box-characteristics-line-4 {
    display: none;
  }
  .container__box-questions {
    margin-right: 25px;
    margin-left: 20px;
  }
  .container__box-question-text .container__answer-text {
    height: auto;
    margin-right: 10px;
  }
  .container__container-questions-img-dron {
    display: none;
  }
  .container__social-media {
    top: 445px;
    left: 624px;
  }
  .box-advantage__title {
    width: auto;
    padding-right: 10px;
  }
  .box-questin-form--add-margin {
    margin-left: 64px;
  }
}
@media (max-width: 700px) {
  .container__box-characteristics-img-dron {
    padding-right: 30px;
  }
  .container__box-characteristic-text-1 {
    padding-left: 0;
    left: 30px;
  }
  .container__box-characteristic-text-2 {
    padding-right: 0;
    right: 30px;
  }
  .container__box-characteristic-text-3 {
    padding-left: 0;
    left: 30px;
  }
  .container__box-characteristic-text-4 {
    padding-right: 0;
    right: 30px;
  }
  .container__container-connection {
    margin-top: 15px;
  }
  .container__connection {
    margin-bottom: 15px;
  }
  .container__box-connection {
    flex-direction: column;
    justify-content: flex-start;
  }
  .container__social-media {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    height: auto;
    width: 240px;
    margin: auto;
  }
  .box-questin-form--add-margin {
    margin-top: 0;
    margin-left: 30px;
  }
  .connection__title {
    font-size: 19px;
    line-height: 20px;
  }
}
@media (max-width: 650px) {
  .container__box-characteristics-img-dron {
    position: relative;
    width: 90%;
    left: 5%;
    padding: 0;
  }
  .container__box-characteristics {
    margin-top: 13px;
    height: auto;
  }
  .container__box-characteristic-text-1 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    padding-right: 10px;
    padding-left: 35px;
    margin-top: 20px;
  }
  .container__box-characteristic-text-2 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    padding-right: 10px;
    padding-left: 35px;
    margin-top: 20px;
  }
  .container__box-characteristic-text-3 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    padding-right: 10px;
    padding-left: 35px;
    margin-top: 20px;
  }
  .container__box-characteristic-text-4 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
    padding-right: 10px;
    padding-left: 35px;
    margin-top: 20px;
  }
  .container__social-media {
    margin-top: 25px;
  }
  .container__box-characteristic-text-1 .box-characteristic-text__text {
    width: auto;
  }
  .container__box-characteristic-text-2 .box-characteristic-text__text {
    width: auto;
  }
  .container__box-characteristic-text-3 .box-characteristic-text__text {
    width: auto;
  }
  .container__box-characteristic-text-4 .box-characteristic-text__text {
    width: auto;
  }
  .footer-form__container {
    width: 95%;
  }
  .footer-form__input-text {
    width: 49.2%;
  }
  .footer-form__submit {
    margin-top: 10px;
  }
  .box-questin-form__text {
    padding-right: 20px;
  }
  .box-questin-form--add-margin {
    margin-bottom: 15px;
  }
}
@media (max-width: 559px) {
  .container__text-about-drone {
    margin: 10px 0 0 30px;
  }
  .container__slider {
    width: 400px;
    left: 30px;
    right: auto;
  }
  .container__slider-img {
    width: 100%;
  }
  .container__box-advantage-1 {
    margin-top: 30px;
    height: 155px;
  }
  .container__box-advantage-2 {
    margin-top: 30px;
    height: 155px;
  }
  .container__box-advantage-3 {
    margin-top: 30px;
    height: 155px;
  }
  .container__box-advantage-4 {
    margin-top: 30px;
    height: 155px;
  }
  .container__box-advantage-2-namber {
    padding-left: 0px;
    padding-right: 6px;
  }
  .container__box-advantage-4-namber {
    padding-right: 7px;
  }
  .container__questin-btn {
    width: 73px;
  }
  .box-advantage__img {
    display: none;
  }
  .box-advantage__number {
    margin-top: -8px;
  }
}
@media (max-width: 490px) {
  .container {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .container__container {
    font-size: 33px;
    padding-top: 70px;
    min-height: 900px;
  }
  .container__slider {
    width: 90%;
  }
  .container__box-characteristics-img-dron {
    padding-right: 10px;
  }
  .container__box-characteristic-text-1 {
    padding-right: 35px;
  }
  .container__box-characteristic-text-2 {
    padding-right: 35px;
  }
  .container__box-characteristic-text-3 {
    padding-right: 35px;
  }
  .container__box-characteristic-text-4 {
    padding-right: 35px;
  }
  .container__container-questions {
    margin-top: 15px;
    max-height: 100%;
  }
  .container__box-question-text .container__questin-text {
    padding: 7px 0 5px 20px;
  }
  .container__box-question-text .container__answer-text {
    padding-left: 25px;
  }
  .container__container .container-title {
    font-size: 33px;
    width: 90%;
    line-height: 40px;
  }
}
@media (max-width: 390px) {
  .container__container .container-title {
    font-size: 30px;
    line-height: 35px;
  }
  .container__box-question-text .container__questin-text {
    font-size: 15px;
    line-height: 20px;
  }
  .container__social-media {
    margin-top: 15px;
  }
  .footer-form__box--flex {
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer-form__input-text {
    width: 100%;
    margin-bottom: 5px;
  }
  .copyright--position--absolute {
    bottom: 13px;
    margin-right: 15px;
  }
}
@media (max-width: 370px) {
  .container {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .container__container {
    min-height: 900px;
  }
  .container__slider-text {
    width: 255px;
  }
}
@media (max-height: 723px) {
  .container {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .container__container {
    min-height: 900px;
  }
}