@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,&display=swap&subset=cyrillic-ext);
@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.eot");
  src: local("☺"), url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff") format("woff"), url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/FontsFree-Net-SFProDisplay-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SFProDisplay-Semibold";
  src: url("../fonts/FontsFree-Net-SFProDisplay-Semibold.eot");
  src: local("☺"), url("../fonts/FontsFree-Net-SFProDisplay-Semibold.woff") format("woff"), url("../fonts/FontsFree-Net-SFProDisplay-Semibold.ttf") format("truetype"), url("../fonts/FontsFree-Net-SFProDisplay-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
.wrap {
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.wrap-nav {
  width: 90.5%;
  height: 31px;
  position: fixed;
  top: 43px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 10;
}

.main-container {
  margin: 0 64px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__box--flex {
  display: flex;
  align-items: center;
}
.nav__box-logo {
  margin-right: 142px;
}
.nav__logo {
  width: 54px;
  height: 27px;
}
.nav__link-title {
  font-family: Ubuntu;
  font-weight: 500;
  margin-left: 11px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #fff;
}
.nav__box-links {
  margin-right: 74px;
}
.nav__link-style {
  color: #fff;
  margin: 0 10px 0 10px;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 15px;
  line-height: 17.24px;
}
.nav__link:hover {
  border-bottom: 2px solid #fff;
}
.nav__btn-buy {
  margin-right: 8px;
  width: 115px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #fff;
}
.nav__btn-buy:hover {
  background-color: #fff;
  color: black;
}
.nav__link-tel {
  color: #fff;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.38px;
}
.nav__block {
  display: none;
}
.nav__burger._active {
  background-color: rgba(28, 28, 28, 0.9294117647);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav__burger._active .burger__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.nav__burger._active .burger__btn {
  position: absolute;
  top: 51px;
  right: 4.82%;
}
.nav__burger._active .burger__btn-line-1 {
  transition: 200ms;
  rotate: 45deg;
  top: 6px;
}
.nav__burger._active .burger__btn-line-2 {
  display: none;
}
.nav__burger._active .burger__btn-line-3 {
  width: 100%;
  transition: 200ms;
  rotate: -45deg;
  bottom: 6px;
}
.nav__burger._active .burger__box {
  display: block;
}

.burger {
  font-family: "Ubuntu";
  font-style: normal;
  display: none;
}
.burger__btn {
  width: 24px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger__btn-line-1 {
  position: relative;
  background-color: #E0E0E0;
  width: 100%;
  height: 2px;
  transition: 200ms;
}
.burger__btn-line-2 {
  position: relative;
  background-color: #E0E0E0;
  width: 100%;
  height: 2px;
}
.burger__btn-line-3 {
  position: relative;
  background-color: #E0E0E0;
  width: 66.6%;
  height: 2px;
  align-self: flex-end;
  transition: 200ms;
}
.burger__box {
  display: none;
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
}
.burger__box-links {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  padding: 0 60px 33px 60px;
  margin-bottom: 33px;
}
.burger__link {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  padding: 17px 0 17px 5px;
}
.burger__link:hover {
  background-color: rgba(108, 108, 108, 0.1960784314);
}
.burger__tel {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding-left: 60px;
}
.burger__tel:hover {
  -webkit-text-decoration: 1.5px solid #fff underline;
          text-decoration: 1.5px solid #fff underline;
}

.slider-main__wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.slider-main-next-btn {
  width: 27px;
  height: 19px;
}
.slider-main-next-btn__img {
  position: relative;
  width: 17px;
  height: 9px;
  top: 4px;
  left: 5px;
  transition-duration: 200ms;
}

.slider-main-next-btn:hover .slider-main-next-btn__img {
  top: 6px;
}

.slider-main-next-btn--position--absolute {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 25px;
  margin: auto;
}

.header {
  background-image: url(../images/shadow-header.png), url(../images/header.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.header__container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 218px 0 40px 0;
}
.header__title {
  font-family: "SFProDisplay-Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 115px;
  margin-bottom: 25px;
}
.header__img-dron {
  width: 660px;
  margin-bottom: 23px;
}
.header__text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 35px;
}
.header__box-connection {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 220px;
}
.header__connection {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
.header__connection:hover {
  opacity: 1;
}
.header__slider-main-next-btn {
  text-align: start;
  bottom: 35px;
}

.container {
  background: url(../images/shadow-container.png), url(../images/container.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.container__container {
  position: relative;
  padding-top: 150px;
  height: 100%;
  width: 88.6%;
  margin: 0 63px 0 90px;
}
.container__container .container-title {
  font-family: "SFProDisplay-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 53px;
}
.container__text-about-drone {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
  width: 448px;
  margin: 26px 0 0 30px;
  position: relative;
  top: 26px;
  z-index: 3;
}
.container__slider {
  position: absolute;
  width: 826px;
  right: 30px;
  bottom: 50px;
  overflow: hidden;
}
.container__slider-wrapper {
  min-width: 2000px;
  display: flex;
  height: 315px;
}
.container__slider-slide {
  position: relative;
}
.container__slider-text {
  z-index: 2;
  position: absolute;
  bottom: 32px;
  width: 281px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}
.container__slider-img {
  position: absolute;
  right: 0px;
}
.container__box-slider-btn {
  display: flex;
  flex-direction: row-reverse;
}
.container__slider-btn-next {
  position: relative;
  width: 60px;
  height: 48px;
  background-color: #fff;
  margin-right: 15px;
}
.container__slider-btn-next:hover {
  background-color: #b4b4b4;
}
@keyframes right-left-3px {
  0% {
    right: 26px;
  }
  50% {
    right: 23px;
  }
  100% {
    right: 26px;
  }
}
.container__slider-btn-next-img {
  width: 8.22px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 26px;
  transition: 200ms;
}
.container__slider-btn-next:focus .container__slider-btn-next-img {
  animation: right-left-3px 200ms;
}
.container__slider-btn-prev {
  position: relative;
  width: 60px;
  height: 48px;
  background-color: #1c1c1c;
}
.container__slider-btn-prev:hover {
  background-color: rgb(46, 46, 46);
}
@keyframes left-right-3px {
  0% {
    left: 26px;
  }
  50% {
    left: 23px;
  }
  100% {
    left: 26px;
  }
}
.container__slider-btn-prev-img {
  width: 8.22px;
  height: 16px;
  position: absolute;
  top: 16px;
  left: 26px;
}
.container__slider-btn-prev:focus .container__slider-btn-prev-img {
  animation: left-right-3px 200ms;
}
.container__box-advantages {
  position: relative;
  display: grid;
  grid-template-columns: 550px 608px;
  grid-template-rows: auto auto;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 52px;
  padding: 0 13px 0 6px;
  width: 100%;
  height: 58.2%;
}
.container__box-advantage-1-namber {
  padding-right: 4px;
}
.container__box-advantage-2 {
  margin-top: 17px;
}
.container__box-advantage-2-namber {
  padding-left: 4px;
  padding-right: 9px;
}
.container__box-advantage-3 {
  margin: 78px 0 0 28px;
}
.container__box-advantage-3-namber {
  padding-right: 6.2px;
}
.container__box-advantage-4 {
  margin: 97px 0 0 53px;
}
.container__box-advantage-4 .container__box-advantage-4-text-span {
  display: block;
  width: 250px;
}
.container__box-advantage-4-namber {
  padding-right: 10px;
}
.container__img-line1 {
  position: absolute;
  top: 42px;
  left: 365px;
  width: 245px;
  height: 45.5px;
}
.container__img-line2 {
  position: absolute;
  top: 175px;
  left: 146.5px;
  width: 463px;
  height: 62.5px;
}
.container__img-line3 {
  position: absolute;
  top: 275px;
  left: 406px;
  width: 254px;
  height: 39px;
}
.container__box-characteristics {
  position: relative;
  width: 100%;
  height: 395px;
  margin-top: 77px;
}
.container__box-characteristics-img-dron {
  position: absolute;
  height: 198px;
  left: 0;
  right: 0;
  margin: 84px auto;
}
.container__box-characteristic-text-1 {
  top: 0;
  left: 30px;
}
.container__box-characteristic-text-1 .box-characteristic-text__text {
  width: 280px;
}
.container__box-characteristic-text-2 {
  top: 0;
  right: 0;
}
.container__box-characteristic-text-2 .box-characteristic-text__text {
  width: 280px;
}
.container__box-characteristic-text-3 {
  top: 274px;
  left: 30px;
}
.container__box-characteristic-text-3 .box-characteristic-text__text {
  width: 253px;
}
.container__box-characteristic-text-4 {
  top: 260px;
  right: 0;
}
.container__box-characteristic-text-4 .box-characteristic-text__text {
  width: 280px;
}
.container__box-characteristics-line-1 {
  position: absolute;
  top: 13px;
  left: 211px;
  width: 229px;
  height: 114px;
}
.container__box-characteristics-line-2 {
  position: absolute;
  top: 13px;
  right: 302px;
  width: 258px;
  height: 103px;
}
.container__box-characteristics-line-3 {
  position: absolute;
  bottom: 105px;
  left: 234px;
  width: 346px;
  height: 81px;
}
.container__box-characteristics-line-4 {
  position: absolute;
  bottom: 119px;
  right: 291px;
  width: 123px;
  height: 89px;
}
.container__container-questions {
  display: flex;
  margin-top: 36px;
  max-height: 442px;
}
.container__box-questions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.container__box-question {
  display: flex;
  margin-bottom: 5px;
}
.container__box-question-text {
  font-family: "Ubuntu";
  font-style: normal;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}
.container__box-question-text .container__questin-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  padding: 20px 0 19px 39px;
}
.container__box-question-text .container__answer-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  padding-left: 50px;
  padding-bottom: 10px;
  height: 144px;
  display: none;
}
.container__questin-btn {
  position: relative;
  align-self: flex-start;
  width: 67px;
  height: 72px;
  background-color: #fff;
}
.container__questin-btn .container__questin-btn-img {
  position: absolute;
  top: 29px;
  left: 21px;
  width: 20px;
}
.container__questin-btn:hover {
  border: 1px solid #1C1C1C;
}
.container .container__box-question._active .container__answer-text {
  display: block;
}
.container .container__box-question._active .container__questin-btn-img {
  rotate: 180deg;
}
.container__container-questions-img-dron {
  height: 125px;
  align-self: flex-end;
  margin-right: 137px;
  margin-bottom: 29px;
}
.container__container-connection {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  width: 86.3%;
}
.container__box-connection {
  margin-left: 30px;
}
.container__connection {
  margin-bottom: 32px;
}
.container__social-media {
  height: 172px;
  align-self: center;
  margin-left: 22px;
}

.box-advantage {
  font-family: "Ubuntu";
  font-style: normal;
  display: flex;
}
.box-advantage__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  margin-top: 108px;
  position: relative;
}
.box-advantage__img {
  width: 207px;
  height: 142px;
  margin-right: 19px;
  z-index: 2;
}
.box-advantage__box-text {
  position: relative;
  top: 11px;
}
.box-advantage__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  width: 121px;
}
.box-advantage__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
  width: 300px;
  margin-top: 10px;
}
.box-advantage__text--width--245px {
  width: 245px;
}

.box-characteristic-text {
  font-family: "Ubuntu";
  font-style: normal;
}
.box-characteristic-text__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
}
.box-characteristic-text__text {
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
}

.box-characteristic-text--position--absolute {
  position: absolute;
}

.footer-text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
  color: #fff;
}

.connection {
  display: flex;
  flex-direction: column;
}
.connection__title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 13px;
}
.connection__phone {
  margin-bottom: 5px;
}
.connection__phone:hover {
  text-decoration: underline;
}
.connection__email:hover {
  text-decoration: underline;
}

.box-questin-form__title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 13px;
}
.box-questin-form__text {
  margin-bottom: 12px;
}

.footer-form__container {
  width: 570px;
  display: flex;
  flex-direction: column;
}
.footer-form__box--flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.footer-form__input-text {
  background-color: rgba(0, 0, 0, 0.5019607843);
  padding: 15px 0px 14px 15px;
  width: 280px;
  border-radius: 1px;
  caret-color: #fff;
  color: #fff;
}
.footer-form__input-text::-moz-placeholder {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
}
.footer-form__input-text::placeholder {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
}
.footer-form__textarea {
  background-color: rgba(0, 0, 0, 0.5019607843);
  padding: 15px 0 0 15px;
  border-radius: 1px;
  resize: none;
  height: 144px;
  caret-color: #fff;
  color: #fff;
}
.footer-form__textarea::-moz-placeholder {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
}
.footer-form__textarea::placeholder {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
}
.footer-form__submit {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  padding: 8px 15px 8px 15px;
  margin-top: 22px;
  display: inline;
  align-self: flex-start;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.footer-form__help {
  color: red;
  display: none;
}
.footer-form__submit:hover {
  background-color: #fff;
  color: #000;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-media__facebook-img {
  width: 40px;
  height: 40px;
}
.social-media__youtube-img {
  width: 40px;
  height: 40px;
}
.social-media__instagram-img {
  width: 40px;
  height: 40px;
}

.copyright--position--absolute {
  position: absolute;
  right: 0px;
  bottom: 32px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
}