@media (max-width: 1130px) {
  .header {
    &__inner {
      margin-left: 2.5%;
    }
  }
  .main-container {
    width: 95%;
  }
  .box-product--width--31percent {
    width: 31.5%;
  }
  .newsletter {
    &__inner {
      width: 95%;
    }
  }
  .get-in-touch {
    &__inner {
      margin: 0;
    }
  }
  .support-card {
    width: 33.333%;
    
    &__inner {
      width: 100%;
    }
  }

  .footer-top {
    &__inner {
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .footer-list-links--margin-right--60px {
    margin-right: 0;
  }
}
@media (max-width: 1000px) {
  .box-product {
    &__inner {
      width: 100%;
    }
    &__title {
      font-size: 18px;
      line-height: 26px;
      width: 100%;
    }
    &__text {
      width: 100%;
    }
  }
  .designing-better-experience {
    &__box-statistical-cards {
      flex-direction: column;
      width: 80%;
      margin: 50px auto 0 auto;
    }
  }
  .statistical-card {
    &__inner {
      margin: 0 auto;
    }
  }
  .advice {
    &__box-advice-cards {
      flex-wrap: wrap;
      width: 66%;
      margin: 45px auto 0 auto;
    }
  }
  .advice-card {
    margin-bottom: 20px;
  }
  .newsletter {
    &__title {
      margin-left: 27px;
      margin-right: 10px;
      font-size: 19px;
      line-height: 25px;
      width: 35%;
    }
    &__form {
      margin-right: 27px;
      width: 60%;
    }
    &__email-box {
      width: 100%;
    }
    &__input-email {
      width: 70%;
    }
    &__btn-submit {
      width: 30%;
    }
  }
}
@media (max-width: 900px) {
  .footer-list-links {
    &__title {
      font-size: 14px;
      line-height: 18px;
    }
    &__link {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .footer-bottom {
    &__inner {
      padding: 0;
    }
    &__text {
      padding: 25px 15px 25px 0;
    }
  }
  .social-media-box {
    align-self: center;
  }
}
@media (max-width: 800px) {
  .advice {
    &__box-advice-cards {
      width: 88%;
    }
  }
  .partners {
    &__inner {
      padding: 0;
      flex-wrap: wrap;
    }
  }
  .get-in-touch {

    &__box-support-cards {
      flex-direction: column;
    }
  }
  .support-card {
    width: 400px;
  }

  .contact-us {
    &__inner {
      padding: 0;
    }
    &__title {
      font-size: 20px;
      line-height: 26px;
    }
    &__btn {
      padding: 15px 10px;
      text-align: center;
      width: 120px;
      margin-left: 15px;
    }
  }
}
@media (max-width: 750px) {
  .footer-top {
    &__inner {
      flex-direction: column;
    }
  }
  .footer-list-links {
    align-self: center;
    width: 80%;
    text-align: center;

    &__title {
      margin-top: 20px;
      margin-bottom: 0px;
      font-size: 20px;
      line-height: 22px;
    }
    &__link {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
@media (max-width: 700px) {
  .header {
    &__title {
      padding-right: 5px;
    }
  }
  .menu {
    &__item-link {
      margin-left: 21px;
      margin-right: 0;
    }
  }
  .finance-consultancy {

    &__wrap-boxes-product {
      flex-direction: column;
    }
  }
  .box-product {
    align-self: center;
  }
  .box-product--width--31percent {
    width: 90%;
  }
  .partners {
    &__inner {
      width: 360px;;
      height: 200px;
      margin: 0 auto;
    }
  }
}
@media (max-width: 610px) {
  .newsletter {
    &__inner {
      flex-direction: column;
    }
    &__title {
      margin-left: 0px;
      margin-right: 0px;
      padding: 10px 20px;
      font-size: 19px;
      line-height: 25px;
      width: 100%;
      text-align: center;
    }
    &__form {
      margin: 0 auto;
      width: 90%;
      padding-bottom: 15px;
    }
    &__email-box {
      width: 100%;
    }
    &__input-email {
      width: 70%;
    }
    &__btn-submit {
      width: 30%;
    }
  }
}
@media (max-width: 570px) {
  .header {
    padding-bottom: 5px;
    background-color: #ffffffc8;
  }
  .finance-consultancy {
    padding-top: 100px;

    &__title {
      font-size: 44px;
      line-height: 50px;
      width: 310px;
    }
    &__text {
      width: 95%;
    }
  }
  .title-text-box {
    &__text {
      margin: 0;
      width: 100%;
    }
  }
  .advice {
    &__box-advice-cards {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
  .advice-card {
    align-self: center;
  }
}
@media (max-width: 500px) {
  .title-text-box {

    &__title {
      font-size: 30px;
      line-height: 43px;
    }
  }
  .contact-us {
    &__box-text {
      width: 50%;
    }
  }
}
@media (max-width: 430px) {
  .header {
    &__inner {
      display: block;
      margin: 0 15px;
    }
    &__title {
      margin-top: 10px;
    }
  }
  .menu {
    &__list {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
    &__item-link {
      margin: 0;
    }
  }
  .finance-consultancy {
    padding-top: 100px;

    &__title {
      font-size: 30px;
      line-height: 40px;
      width: 95%;
    }
    &__box-btn {
      width: 95%;
    }
    &__btn-get-quote {
      width: 51%;
    }
    &__btn-learn-more {
      width: 45%;
    }
  }
  .partners {
    &__inner {
      width: 241px;
      height: 305px;
    }
  }
  .get-in-touch {
    &__inner {
      padding-bottom: 0;
    }
  }
  .support-card {
    width: 95%;
  }
  .newsletter {
    &__btn-submit {
      width: 117px;
    }
  }
  .footer-bottom {
    &__inner {
      flex-direction: column;
      padding: 20px 0;
    }
    &__text {
      padding: 0;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 370px) {
  .designing-better-experience {

    &__box-statistical-cards {
      width: 95%;
    }
  }
}