@import "var.scss";
@import "fonts.scss";

.page {
  width: 100%;
  font-family: Montserrat;
  overflow: hidden;
}

.header {

  &__inner {
    margin-left: 195px;
    display: flex;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding-right: 132px;
    color: $blue;
    margin-top: 36px;
  }
}
.header--position--absolute {
  position: absolute;
  width: 100%;
  z-index: 5;
}
.menu {
  &__list {
    display: flex;
    margin-top: 40px;
  }
  &__item-link {
    margin-right: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $grey;
  }
}



.main-container {
  position: relative;
  width: 1050px;
  margin: 0 auto;
  z-index: 3;
}

.main {
  background: #FAFAFA;

  &__img-cover {
    position: absolute;
    width: 100%;
    height: auto;
  }
}
.block--width--100percent {
  width: 100%;
}

.finance-consultancy {
  padding-top: 184px;

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: $blue;
    width: 509px;
    margin-bottom: 35px;
  }
  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: $grey;
    width: 376px;
  }
  &__box-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 80px;
    width: 352px;
  }
  &__btn-get-quote {
    color: #fff;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    width: 185px;
    height: 48px;
    background-color: $orange;
    border-radius: 37px;
  }
  &__btn-learn-more {
    color: #0D5C63;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    width: 157px;
    height: 48px;
    background-color: transparent;
    border-radius: 37px;
    border: 1px solid #0D5C63;
  }
  &__wrap-boxes-product {
    display: flex;
    justify-content: space-between;
  }
}
.box-product {
  background-color: #fff;

  &__inner {
    padding: 35px 40px;
    width: 328px;
  }
  &__img {
    width: 47.7px;
    margin-bottom: 10px;
  }
  &__title {
    width: 236px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: $blue;
    margin-bottom: 10px;
  }
  &__text {
    width: 224px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;

  }
}
.box-product--background--green {
  background-color: #0D5C63;
  .box-product__title {
    color: #fff;
  }
  .box-product__text {
    color: #fff;
  }
}


.designing-better-experience {
  padding-top: 80px;
  padding-bottom: 80px;

  &__box-statistical-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-right: 10px;
  }
}
.title-text-box {
  text-align: center;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: -0.6px;
    color: $blue;
    margin-bottom: 10px;
  }
  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 511px;
    margin: 0 auto;
    color: $grey;
  }
}
.statistical-card {
  text-align: center;
  background-color: #fff;

  &__inner {
    width: 230px;
  }
  &__logo-people {
    margin-top: 32px;
    margin-bottom: 1.8px;
  }
  &__logo-zigzag {
    margin-top: 40px;
    margin-bottom: 11px;
  }
  &__logo-medal {
    margin-top: 30px;
  }
  &__logo-case {
    margin-top: 34px;
    margin-bottom: 3px;
  }
  &__title {
    margin: 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: $blue;
  }
  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 30px;
    color: $grey;
  }
}

.advice {
  padding-top: 125px;
  padding-bottom: 80px;

  &__box-advice-cards {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
  }
}
.advice-card {
  background-color: #fff;

  &__inner {
    width: 230px;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: $blue;
    margin: 30px 20px 15px 30px;
    width: 135px;
  }
  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $grey;
    margin: 0px 20px 30px 30px;
    width: 179px;
    min-height: 80px;
  }
  &__img {
    width: 230px;
  }
}

.partners-wrapper {
  margin-bottom: 70px;
}
.partners {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 33.5px 0 25px;
  }
}

.newsletter {
  position: relative;

  &__inner {
    width: 986px;
    margin: 0 auto;
    background-color: #17213C;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    width: 266px;
    padding: 30px 0;
    margin-left: 50px;
  }
  &__form {
    margin-right: 40px;
    align-self: center;
  }
  &__email-box {
    display: flex;
  }
  &__input-email {
    background-color: #F9F9F9;
    width: 333px;
    height: 58px;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
  }
  &__input-email::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: $grey;
    padding-left: 20px;
  }
  &__btn-submit {
    background-color: #FF7B47;
    width: 117px;
    height: 58px;
    border: 1px solid #E6E6E6;
    border-left: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #fff;
    text-align: center;
    border-radius: 0 5px 5px 0;
  }
}
.newsletter::after {
  content: "";
  background-color: #252B42;
  width: 100%;
  height: 77px;
  position: absolute;
  bottom: -20px;
}

.get-in-touch {

  &__inner {
    padding-top: 100px;
    padding-bottom: 80px;
    margin: 0 33px;
  }

  &__box-support-cards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
}
.support-card {
  text-align: center;
  background-color: #fff;
  align-self: center;

  &__inner {
    width: 328px;
    height: 333px;
  }
  &__img {
    margin-top: 50px;
    margin-bottom: 15px;
  }
  &__email-link {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $blue;
  }
  &__email-link:hover {
    text-decoration: underline;
  }
  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: $blue;
    margin: 15px 0;
  }
  &__btn {
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 5px;
    color: $orange;
    padding: 10px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  &__btn:hover {
    text-decoration: 2px underline;
  }
}
.support-card--central {
  background-color: #252B42;
  

  .support-card__inner {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .support-card__email-link {
    color: #fff;
  }
  .support-card__text {
    color: #fff;
  }
  .support-card__btn {
    color: #fff;
    border: 1px solid #fff;
  }
}

.contact-us-wrapper {
  margin-top: 68px;
}
.contact-us {
  background-color: #FAFAFA;

	&__inner {
    display: flex;
    justify-content: space-between;
    padding-right: 38px;
	}
	&__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: $blue;
    margin-top: 40px;
    margin-bottom: 10px;
	}
	&__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $grey;
    margin-bottom: 40px;
	}
	&__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #fff;
    align-self: center;
    background-color: $orange;
    padding: 15px 40px;
    border-radius: 5px;
	}
  &__btn:hover {
    text-decoration: 2px underline;
  }
}

.footer-top {
  background-color: #17213C;

  &__inner {
    display: flex;
    padding: 50px 0;
  }
}
.footer-list-links {

  &__item-title {
    margin-bottom: 20px;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #fff;
  }
  &__item {
    margin-bottom: 10px;
  }
  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
  }
  &__link--tel::before {
    content: url('../images/footer-list-links__link--tel-img.svg');
    position: relative;
    margin-right: 10px;
    top: 7px;
  }
  &__link--address::before {
    content: url('../images/footer-list-links__link--address-img.svg');
    position: relative;
    margin-right: 10px;
    top: 10px;
  }
  &__link--email::before {
    content: url('../images/footer-list-links__link--email-img.svg');
    position: relative;
    margin-right: 10px;
    top: 10px;
  }
  &__link:hover{
    text-decoration: underline;
  }
}
.footer-list-links--margin-right--60px {
  margin-right: 60px;
}

.footer-bottom {
  background-color: #FAFAFA;

  &__inner {
    padding: 25px 40px 25px 0;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $grey;
  }
}
.social-media-box {

  &__inner {
    width: 156px;
    display: flex;
    justify-content: space-between;
  }
}
.social-media-box__social-media-link {
  display: inline-block;
  align-self: center;
}