@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,&display=swap&subset=cyrillic-ext);

@font-face {
	font-family: 'SFProDisplay-Regular';
	src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.eot');
	src: local('☺'), url('../fonts/FontsFree-Net-SFProDisplay-Regular.woff') format('woff'), url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype'), url('../fonts/FontsFree-Net-SFProDisplay-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Semibold';
	src: url('../fonts/FontsFree-Net-SFProDisplay-Semibold.eot');
	src: local('☺'), url('../fonts/FontsFree-Net-SFProDisplay-Semibold.woff') format('woff'), url('../fonts/FontsFree-Net-SFProDisplay-Semibold.ttf') format('truetype'), url('../fonts/FontsFree-Net-SFProDisplay-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}


