@media (max-width: 1130px) {
  .header__inner {
    margin-left: 2.5%;
  }
  .main-container {
    width: 95%;
  }
  .box-product--width--31percent {
    width: 31.5%;
  }
  .newsletter__inner {
    width: 95%;
  }
  .get-in-touch__inner {
    margin: 0;
  }
  .support-card {
    width: 33.333%;
  }
  .support-card__inner {
    width: 100%;
  }
  .footer-top__inner {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-list-links--margin-right--60px {
    margin-right: 0;
  }
}
@media (max-width: 1000px) {
  .box-product__inner {
    width: 100%;
  }
  .box-product__title {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
  }
  .box-product__text {
    width: 100%;
  }
  .designing-better-experience__box-statistical-cards {
    flex-direction: column;
    width: 80%;
    margin: 50px auto 0 auto;
  }
  .statistical-card__inner {
    margin: 0 auto;
  }
  .advice__box-advice-cards {
    flex-wrap: wrap;
    width: 66%;
    margin: 45px auto 0 auto;
  }
  .advice-card {
    margin-bottom: 20px;
    align-self: flex-end;
  }
  .newsletter__title {
    margin-left: 27px;
    margin-right: 10px;
    font-size: 19px;
    line-height: 25px;
    width: 35%;
  }
  .newsletter__form {
    margin-right: 27px;
    width: 60%;
  }
  .newsletter__email-box {
    width: 100%;
  }
  .newsletter__input-email {
    width: 70%;
  }
  .newsletter__btn-submit {
    width: 30%;
  }
}
@media (max-width: 900px) {
  .footer-list-links__title {
    font-size: 14px;
    line-height: 18px;
  }
  .footer-list-links__link {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-bottom__inner {
    padding: 0;
  }
  .footer-bottom__text {
    padding: 25px 15px 25px 0;
  }
  .social-media-box {
    align-self: center;
  }
}
@media (max-width: 800px) {
  .advice__box-advice-cards {
    width: 88%;
  }
  .partners__inner {
    padding: 0;
    flex-wrap: wrap;
  }
  .get-in-touch__box-support-cards {
    flex-direction: column;
  }
  .support-card {
    width: 400px;
  }
  .contact-us__inner {
    padding: 0;
  }
  .contact-us__title {
    font-size: 20px;
    line-height: 26px;
  }
  .contact-us__btn {
    padding: 15px 10px;
    text-align: center;
    width: 120px;
    margin-left: 15px;
  }
}
@media (max-width: 750px) {
  .footer-top__inner {
    flex-direction: column;
  }
  .footer-list-links {
    align-self: center;
    width: 80%;
    text-align: center;
  }
  .footer-list-links__title {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 22px;
  }
  .footer-list-links__link {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 700px) {
  .header__title {
    padding-right: 5px;
  }
  .menu__item-link {
    margin-left: 21px;
    margin-right: 0;
  }
  .finance-consultancy__wrap-boxes-product {
    flex-direction: column;
  }
  .box-product {
    align-self: center;
  }
  .box-product--width--31percent {
    width: 90%;
  }
  .partners__inner {
    width: 360px;
    height: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 610px) {
  .newsletter__inner {
    flex-direction: column;
  }
  .newsletter__title {
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 20px;
    font-size: 19px;
    line-height: 25px;
    width: 100%;
    text-align: center;
  }
  .newsletter__form {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 15px;
  }
  .newsletter__email-box {
    width: 100%;
  }
  .newsletter__input-email {
    width: 70%;
  }
  .newsletter__btn-submit {
    width: 30%;
  }
}
@media (max-width: 570px) {
  .header {
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.7843137255);
  }
  .finance-consultancy {
    padding-top: 100px;
  }
  .finance-consultancy__title {
    font-size: 44px;
    line-height: 50px;
    width: 310px;
  }
  .finance-consultancy__text {
    width: 95%;
  }
  .title-text-box__text {
    margin: 0;
    width: 100%;
  }
  .advice__box-advice-cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .advice-card {
    align-self: center;
  }
}
@media (max-width: 500px) {
  .title-text-box__title {
    font-size: 30px;
    line-height: 43px;
  }
  .contact-us__box-text {
    width: 50%;
  }
}
@media (max-width: 430px) {
  .header__inner {
    display: block;
    margin: 0 15px;
  }
  .header__title {
    margin-top: 10px;
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .menu__item-link {
    margin: 0;
  }
  .finance-consultancy {
    padding-top: 100px;
  }
  .finance-consultancy__title {
    font-size: 30px;
    line-height: 40px;
    width: 95%;
  }
  .finance-consultancy__box-btn {
    width: 95%;
  }
  .finance-consultancy__btn-get-quote {
    width: 51%;
  }
  .finance-consultancy__btn-learn-more {
    width: 45%;
  }
  .partners__inner {
    width: 241px;
    height: 305px;
  }
  .get-in-touch__inner {
    padding-bottom: 0;
  }
  .support-card {
    width: 95%;
  }
  .footer-bottom__inner {
    flex-direction: column;
    padding: 20px 0;
  }
  .footer-bottom__text {
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 370px) {
  .designing-better-experience__box-statistical-cards {
    width: 95%;
  }
}